$primary-color: #3498db;

.App {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        li {
            padding: 10px;
            border-bottom: 1px solid $primary-color;

            &:last-child {
                border-bottom: none;
            }
        }

        .active {
            background-color: $primary-color;
            color: #fff;
        }
    }
}